<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jl.springbootinit.mapper.ScoreMapper">

    <resultMap id="BaseResultMap" type="com.jl.springbootinit.model.entity.Score">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="scoreTotal" column="scoreTotal" jdbcType="BIGINT"/>
            <result property="isSign" column="isSign" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,scoreTotal,
        isSign,createTime,updateTime,
        isDelete
    </sql>
</mapper>
